{{!-- PARTIAL FOR PROJECTS --}}
<article class="project card shadow-sm my-2">
    <a href="/project/{{id}}">
        <div class="card-header">
            <h4 class="card-title">{{ title }}</h4>
        </div>
    </a>
    <div class="card-body p-4">
        <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi bi-person-lines-fill"></i> {{ user.username }}
        </h6>
        <p class="card-text p-3">
            {{ description }}
        </p>
    </div>
    <div class="card-footer text-muted px-3 d-flex justify-content-between">
        <p><i class="bi bi-calendar3"></i> {{ formatDate createdAt }}</p>
        <p><i class="bi bi-chat-right-text"></i> {{ comments.length }} {{ formatPlural "comment" comments.length }}</p>
        <p><i class="bi bi-hand-thumbs-up"></i> {{ voteCount }} {{ formatPlural "vote" voteCount }}</p>
    </div>

</article>